<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
</head>

<body style="background-color: grey;">
    <header>
        <button id="cerrarSesion">Cerrar Sesion</button>
        <button onclick='window.location.href="paginaPrincipal.html"'>Volver</button>
        <button id="vaciar">Vaciar Carrito</button>


    </header>

    <main>
        <section id="carrito"></section>

        <br><br><br>

        <section id="section_carrito" class="form-terminar_pedido">
            <form onclick="return false">
                <label for="nom">Nombre</label>
                <input type="text" name="nom" id="nom" required><br>

                <label for="email">Correo</label>
                <input type="email" name="email" id="correo" required><br><br>

                <button id="email">Terminar pedido</button>
            </form>


        </section>

    </main>

    <footer>

    </footer>

    <script type="module" src="../js/index_Pagina_Principal.js"></script>
</body>

</html>