/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
}

:root {
    --font-family-primary: 'EB Garamond', serif;
    --font-weight-regular: 400;
    --font-weight-bold: 800;
}

/* Caja principal */
.caja_login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../gif/video_login.gif') no-repeat center center fixed;
    background-size: cover;

}

/* Formulario */
.login__formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 1rem;
    padding: 2rem;
}

/* Tabla del formulario */
.formulario__table {
    width: 100%;
    text-align: center;
    border-spacing: 1.5rem 1rem;
}

label {
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;    
    color: white;
}

input {
    width: 90%;
    height: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 1rem 1.6rem;
    margin-top: 0.5rem;
}

.botones button {
    width: 80%;
    padding: 0.8rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-weight: var(--font-weight-regular);
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem 0;
}

.botones button:hover {
    background-color: #555;
}

.mensaje {
    font-size: 1.3rem;
    font-weight: var(--font-weight-bold);
}